.album-horizontal {
  margin-bottom: 0px;
  padding: 16px;

  & > div {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  & > h2 {
    padding: 8px;
  }
}

.album-vertical {
  height: 400px;
  overflow: scroll;
}
